<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{% url 'home:landing' %}#about">About</a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{% url 'home:landing' %}#experience">Experience</a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{% url 'home:landing' %}#education">Education</a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{% url 'home:landing' %}#skills">Skills</a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{% url 'home:landing' %}#certs">Certificates</a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{% url 'home:landing' %}#projects">Projects</a>
</li>