{% extends "home/base.html" %}

{% block title %}
    Welcome!
{% endblock title %}

{% block body %}
    <div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
            <div class="w-100">
                <h1 class="mb-0">Trevor
                    <span class="text-primary">Watson</span>
                </h1>
                <div class="subheading mb-5">Daytona Beach, FL ·
                    <a href="{% url 'contact:contact_entry_create' %}">Contact Me</a>
                </div>
                <p class="lead mb-5">An experienced programmer with a love for <a href="https://www.python.org/" target="_blank">python</a> and web development with <a href="https://www.djangoproject.com/" target="_blank">django</a>.</p>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/watsontrevor/" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/cfc603" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </section>

    </div>
{% endblock body %}
