[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
model-bakery = "*"
ipython = "==7.16.3"
django-debug-toolbar = "*"

[packages]
django = "*"
django-bootstrap-form = "*"
unipath = "*"
django-model-utils = "*"
dj-tasks = "*"
djangorestframework = "*"
wagtail = "*"
wagtailcodeblock = "*"
django-analytical = "*"

[requires]
python_version = "3.6"
